
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
build/
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json


include/config.h


.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db


*.o
*.a
*.so
*.bin
*.elf
*.hex